<div *ngIf="restaurante" class="restaurante-box">
	<img class="imagen-rest-detail" width="200px" src="http://localhost/curso-angular/restaurantes/api-rest/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen && restaurante.imagen !== 'null'">
	<div class="data-rest">
		<h1>Restaurante: {{restaurante.nombre}}</h1>
		<p class="precio">
			<span [ngSwitch]="restaurante.precio">
				<span *ngSwitchWhen="'Económico'">Entre $15.000 - $25.000</span>
				<span *ngSwitchWhen="'Normal'">Entre $30.000 - $40.000</span>
				<span *ngSwitchWhen="'Costoso'">Más de $50.000</span>
			</span>
		</p>
		<p class="descripcion">{{restaurante.descripcion}}</p>
		<p class="direccion">{{restaurante.direccion}}</p>
	</div>
</div>